{% if section_title %}
<h2>{{ section_title }}</h2>
{% endif %}
<div>{{ description }}</div>

<div>{{ column1_title }}</div>
<div>{{ column1_content }}</div>
<div>{{ column2_title }}</div>
<div>{{ column2_content }}</div>
<div>{{ column3_title }}</div>
<div>{{ column3_content }}</div>
<div>{{ button_text }}</div>
